*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 75px;
}
.box{
    height: 300px;
    width: 300px;
    border: 1px solid brown;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.box1{
    background-color: rgb(177, 73, 73);
    transition: all 1s linear;
}
.box1:hover{
    transform: scale(0.5);
}
.box2{
    background-color: rgb(86, 86, 199);
    transition: all 1s linear;
}
.box2:hover{
    transform: rotate(-90deg);
}
.box3{
    background-color: rgb(80, 175, 80);
    transition: all 1s linear;
}
.box3:hover{
    transform: skew(-15deg);
}