*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
}
#search:hover input{
    width: 250px;
}
#search input{
    width: 0;
    border: none;
    outline: none;
    transition: 0.7s;
}